
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto";
    font-weight: 400;
}

.container-lg {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    flex-grow: 1;
}

.container-md {
    max-width: 866px;
    margin: 0 auto;
    padding: 0 15px;
    flex-grow: 1;
}

.burger-menu {
    display: none;
    width: 200px;
    height: 100px;
}

#burger, [for=burger] {
    display: none;
}

.header-menu__burger-wrap {
    display: none;
}

.title {
    background-image: url("./assets/titleBackgr-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.converter {
    min-height: 554px;
    display: flex;
    align-items: center;
}

.title-items {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu__links-list {
    display: flex;
    justify-content: space-between;
}

.header-menu__logo, .header-menu__links, .header-menu__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
}

.converter-items {
    display: flex;
    justify-content: space-between;
}

.header, .footer {
    background-color: #F6F7FF;
}

.header-menu__logo-text--bold, .title-items__left-h1--bold, .converter-items__left-h2--bold, .footer-items__address-name--bold {
    font-weight: 700;
}

.footer-items__support-tel--medium, .footer-items__contact-tel--medium {
    font-weight: 500;
    line-height: 22.4px;
    align-content: center;
}

.footer {
    display: flex;
    align-items: center;
    min-height: 224px;
}

.footer-items__links {
    display: flex;
    flex-direction: column;
}

.footer-items__links-item {
    line-height: 22.4px;
    font-weight: 500;
    color: #707C87;
}

.footer-items__links-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-menu__logo-text--bold {
    font-size: 20px;
    line-height: 23.46px;
    margin-left: 12px;
}

.header-menu__links-item {
    padding-right: 30px;
    color: #707C87;
}

.header-menu__login-img {
    margin-right: 15px;
}

.header-menu__login-link {
    color: #707C87;
}

.title-items__left, .converter-items__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-items__left-h1--bold {
    font-size: 54px;
    line-height: 63.28px;
    color: #F6F7FF;
}

.title-items__left-text {
    font-size: 20px;
    line-height: 23.44px;
    color: #F6F7FF;
}

.title-items__left-btn {
    width: 234px;
    height: 53px;
    border-radius: 4px;
    background-color: #F6F7FF;
    color: #707C87;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    border: none;
}

.converter-items__left-h2--bold {
    font-size: 40px;
    line-height: 56px;
}

.converter-items__left-text {
    font-size: 20px;
    line-height: 28px;
    color: #707C87;
}

.converter-items__left-btn {
    width: 251px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background-color: #2C36F2;
    color: #F6F7FF;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}

.footer-items__address-name--bold {
    font-size: 20px;
    line-height: 23.46px;
    margin-left: 12px;
}

.footer-items__address-text, .footer-items__support-text, .footer-items__contact-text {
    font-size: 12px;
    line-height: 16.8px;
    color: #707C87;
}

.footer-items__support-text, .footer-items__contact-text {
    padding-top: 10px;
}

.footer-items__address-text {
    padding-top: 20px;
}

.footer-items__support, .footer-items__contact {
    display: flex;
}

.footer-items__support-info, .footer-items__contact-info {
    padding-left: 18px;
}

.footer-items__support-icon, .footer-items__contact-icon {
    padding-top: 4px;
}

.footer-items__social {
    display: flex;
    gap: 15px;
}



@media (max-width: 992px) {

    .header-menu__logo-text--bold {
        display: none;
    }
    .title-items {
        gap: 60px;
    }
    .container-md {
        flex-grow: 0;
    }
    .converter-items {
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }
    .converter-items__left {
        gap: 15px;
    }
    .footer-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-items__social {
        grid-column: 1/3;
        grid-row: 3;
        justify-self: center;
        align-self: center;
    }
    .footer-items__links {
        padding-top: 20px;
    }

    .footer-items__address, .footer-items__links, .footer-items__support, .footer-items__contact {
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: 768px) {

    .title-items {
        flex-direction: column;
        padding: 40px 0;
    }
    .converter-items__right {
        align-self: center;
    }
    .converter-items__left {
        align-items: center;
    }
    .title-items__left {
        gap: 20px;
    }
    .title-items__right {
        align-self: center;
    }
    .title-items__left-btn {
        align-self: center;
    }
    .title-items__left-h1--bold {
        align-self: center;
    }
    .header-menu__burger-wrap {
        display: flex;
    }
    .header-menu__links {
        display: none;
    }
    .header-menu__logo-img {
        display: none;
    }
    .converter-items__left-text {
        text-align: center;
    }
    [for=burger] {
        display: block;
        align-self: center;
    }
    #burger:checked + label + nav {
        display: flex;
        position: absolute;
        top: 50px;
        left: 60px;
        z-index: 40;
        background-color: rgba(20, 25, 185, 0.637);
        border: 1px solid white;
    }
    .burger-menu__links {
        color: white;
    }
    .burger-menu  {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .converter-items__left-h2--bold {
        text-align: center;
    }
    .converter-items {
        padding: 0;
    }
    .container-md {
        padding: 0;
    }
}

@media (max-width: 375px) {
    .footer-items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .footer-items__address, .footer-items__links, .footer-items__support, .footer-items__contact, .footer-items__social {
        grid-column: 1/2;
        justify-self: center;
    }
    .footer-items__address {
        grid-row: 1;
    }
    .footer-items__links {
        grid-row: 2;
    }
    .footer-items__support {
        grid-row: 3;
    }
    .footer-items__contact {
        grid-row: 4;
    }
    .footer-items__social {
        grid-row: 5;
    }
}